

@{
<br/> ViewBag.Title = "About Us";
<br/> Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<p>
    <br /> Et ønske
    <br /> En arbejdsløs neger laller rundt på en strand og får øje på en cola flaske liggende i sandet. Han skynder sig at åbne den for at slukke sin tørst, men istedet kommer en ånd ud og tildeler ham et ønske fordi han har befriet ham.
    <br /> Negeren: Tja, mand. jeg kunne godt tænke mig en bro belagt med guld der går hele vejen fra afrika til amerika, så alle mine sorte medsøstre og medbrødre kan udvandre til moderlandet.
    <br /> Ånden: Du må være total åndssvag. Sådan noget kan jeg umuligt opfylde. Ønsk dig noget andet.
    <br /> Negeren: Ok. Så ønsker jeg alle sorte børn i amerika lige så intelligente som hvide mennesker.
    <br /> Ånden: Øhh…den der bro du nævnte før…skal den være i 2 eller 4 baner?
    <br /><br />

    <br /> Et ønske mere
    <br /> En neger, en mexikaner og en hvid mand finder en uåbnet øldåse på gaden og enes om at dele den. Da de åbner den kommer der en ånd ud og tildeler dem hver et ønske.
    <br /> Neger: Jeg ønsker alle sorte mennesker i verden tilbage til afrika så ingen skal opleve diskrimination
    <br /> Mexikaner: Det samme her for alle mexikanere.
    <br /> Vupti. Begge får deres ønske opfyldt.
    <br /> Den hvide mand spørger så om der vitterlig ikke er én eneste neger eller mexikaner tilbage blandt hvide mennesker. Ånden svarer at den er god nok.
    <br /> Hvide mand: Nå, men så ønsker jeg mig bare en dåse øl.
    <br /><br />

    <br /> En glad bilist
    <br /> En sort bilist i Alabama bliver stoppet af politiet. Den ene af betjentene tegner en cirkel og beordrer den sorte at blive stående inde i cirklen mens de tjekker hans bil for stoffer. Bag deres rygge hører de et højt fnis. De vender sig og spørger hvad der er så morsomt.
    <br /> Negeren: Ikke noget.
    <br /> De begynder atter at gennemgå bilen da de igen hører latter.
    <br /> Betjent: Hva´var det? Griner du nu igen? Hva´fanden er det der er så sjovt? Spyt ud din sorte abe!
    <br /> Neger: Ikke noget, mand! Jeg grinede slet ikke.
    <br /> Betjent: Tror du vi er totalt dumme!? Nu skal vi vise dig at det her ikke er noget at grine ad…
    <br /> De 2 betjente smadrer forlygterne på den sortes bil. Igen hører de en latter. Irriteret smadrer de baglygterne, men det fremkalder bare mere latter. Efterhånden smadrer de sidespejle, alle ruder, fronten, bagenden, skyder hul i alle dæk…alt sammen noget der blot vækker højlydt latter.
    <br /> I en rus går begge betjente amok og gennemhuller bilen så den til sidst springer i luften and tager deres egen vogn med i købet.
    <br /> Negeren ligger nu på jorden og vrider sig i latterkrampe.
    <br /> Betjentene lover ham at de ikke vil gøre ham noget hvis blot han fortæller hvad der er så morsomt.
    <br /> Negeren: Jo, ser i…hver gang i vendte jer om, gik jeg ud af cirklen og tilbage igen.
    <br /><br />

    <br /> Swimmingpool
    <br /> Hvad kalder man 100 negere i en swimmingpool?
    <br /> Choko pops!
    <br /><br />

    <br /> Cykel og neger
    <br /> Hvad er ligegeden mellem en cykel og neger?
    <br /> De fungere bege to Best med kede på!
    <br /><br />

    <br /> Højhus
    <br /> To neger står på et højhus. De ville se hvem der først ramte jorden når de hoppede.
    <br /> Hvem vinder?
    <br /> Samfundet.
    <br /><br />

    <br /> Kalder en neger
    <br /> Hvad kan man også kalde en neger?
    <br /> En tyv!
    <br /><br />

    <br /> Flok neger
    <br /> Hvad sagde den første hvide man da han så en hel flok neger?
    <br /> Det ser sku sort ud!
    <br /><br />

    <br /> Sveder
    <br /> Hvad får man når en neger sveder?
    <br /> Brun sæbe.
    <br /><br />

    <br /> Røvhul
    <br /> Hvad kalder man en negers røvhul?
    <br /> Et sort hul.
    <br /><br />

    <br /> Neger på cykel
    <br /> Jeg så en neger kom kørende på en cykel, jeg troede det var min
    <br /> Jeg tjekkede derfor min garagen, og den var der stadig lænket op, og tiggede efter mad.
    <br /><br />

    <br /> 100 år
    <br /> Hvad kalder man en neger om 100 år?
    <br /> En truet dyreart.
    <br /><br />

    <br /> Biler
    <br /> Hvad kalder man en neger som laver biler?
    <br /> En mekanigger.
    <br /><br />

    <br /> Smykke
    <br /> Hvad kalder man smykker på en neger?
    <br /> Kæder.
    <br /><br />

    <br /> Zoologisk Have.
    <br /> En dyrepasser siger til en anden:
    <br /> “Vi har ikke mere bjørnemad, hvad skal vi gøre?”,
    <br /> Den anden dyrepasser svarer:
    <br /> “Let nok, vi bruger da bare ham negeren der står dérovre”,
    <br /> “Er du sikker på at bjørnen kan tåle en som sikkert bare har smurt sig
    <br /> ind i hundelort for at blive brun?”,
    <br /> “Pjat han er en rigtig neger og dermed oplagt bjørnemad. Han er
    <br /> sikkert rigtig godt gennemstægt på grund af Solen dernede i Afrika”.
    <br /><br />

    <br /> Sorte penge
    <br /> Hvordan får man en neger til Danmark?
    <br /> Siger til dem at sorte penge er lovlige.
    <br /><br />

    <br /> Tragedien og ulykken
    <br /> En hel bus fuldt med negere kørte ud over en klippe det var ulykken.
    <br /> Tragedien var at de alle kunne svømme!
    <br /><br />

    <br /> Rødt lys
    <br /> En bilist holdt for rødt lys, da to negere kom gående over fodgængerfeltet. Bilisten gassede op og påkørte de to negere.
    <br /> Den ene neger fløj flere meter væk, da han blev ramt, mens den anden røg gennem forruden på bilen.
    <br /> Herefter dukkede politiet op. Negeren som røg gennem forruden, blev andholdt for biltyveri, mens negeren som var blevet slynget flere meter væk, blev anholdt for at have flygtet fra gerningsstedet.
    <br /><br />

    <br /> Hvad er negernes motto?
    <br /> – Hent den hvide maling, jeg skal til Europa.
    <br />

    <br /> Hvad kalder man 200 negere i en svømmepøl?
    <br /> – Coco pops!
    <br /><br />

    <br /> Hvor lang tid tager det for en neger kvinde at skide?
    <br /> – 9 måneder!
    <br /><br />

    <br /> Hvad kalder man en neger med en lille pik?
    <br /> – Et uheld!
    <br /><br />

    <br /> Jeg er ikke racist men bare mørkeræd!
    <br /><br />

    <br /> Hvorfor bliver der ikke ansat en neger i netto?
    <br /> – Fordi de ikke bruger sort arbejde!
    <br /><br />

    <br /> Hvad er forskellen på en neger og en pizza?
    <br /> – Pizzaen skriger ikke når den bliver puttet i ovnen.
    <br /><br />

    <br /> Hvad er gult sort og får dig til at grine?
    <br /> – En bus fyldt med negere der kører udover en kløft
    <br /><br />

    <br /> Der var en ulykke og en katastrofe.
    <br /> – Ulykken var at en bus fyldt med negere kørte ud i vandet.
    <br /> – Katastrofen var at de overlevede.
    <br /><br />

    <br /> Hvorfor får negre så mange børn?
    <br /> – Fordi de får dem sort.
<br/><br/>
    <br /> Hvorfor hader de sorte gud?
    <br /> – Ville du ikke også gøre det hvis du havde kussehår på hovedet.
<br/><br/>
    <br /> Hvad er ligheden på en neger og et juletræ?
    <br /> – De har begge farvede kugler på.
<br/><br/>
    <br /> Hvad kalder man en neger i en BMW?
    <br /> – en tyv.
<br/><br/>
    <br /> Hvad ligner en neger hvis man stikker 12 advarselstrekanter op i røven på ham?
    <br /> – En Toblerone.
<br/><br/>
    <br /> Hvor langt kan en neger løbe i gennemsnit?
    <br /> – Indtil kæden strammer.
<br/><br/>
    <br /> Hvad kalder man en sort præst?
    <br /> – Holy Shit.
<br/><br/>
    <br /> Nu er der ikke noget, der hedder “sorte penge” mere.
    <br /> – Næh, nu hedder det bare “anden etnisk indkomst.”
<br/><br/>
    <br /> Hvordan får man nemmest en neger ned fra et træ?”
    <br /> – Man skærer rebet over.
<br/><br/>
    <br /> Hvad er forskellen på en neger og en trampolin?
    <br /> – Man tager skoene af inden man hopper på trampolinen.
<br/><br/>
    <br /> Hvad er ligheden på en motorsav og en neger?
    <br /> – De fungere bedst med kæde på.
<br/><br/>
    <br /> Hvad gør du når du vågner om natten og opdager dit tv svæver midt i rummet?
    <br /> – Du tænder lyset og skyder negeren.
<br/><br/>
    <br /> Hvad er forskellen på en spand lort og en neger?
    <br /> – Spanden.
<br/><br/>
    <br /> Flere neger jokes
    <br /> Hvorfor negere hvide under fødderne og i håndfladerne?
    <br /> – Fordi alle har noget godt i sig.
<br/><br/>
    <br /> Nævn 3 hvide ting på en neger.
    <br /> – Øjne , Tænder, Ejer.
<br/><br/>
    <br /> 1 neger står ved siden af en hunde lort, så kommer der en hvid man hen til ham.
    <br /> og spørger: “Er det din søn der er smeltet?”
<br/><br/>
    <br /> Hvorfor har man opfundet hvid chokolade?
    <br /> – For at negrene ikke skal bide sig selv i fingrene.
<br/><br/>
    <br /> Hvad er forskellen på en pizza og en neger?
    <br /> – En pizza kan brødføde en hel familie, det kan en neger ikke.
<br/><br/>
    <br /> En ung pige og en neger ligger i sengen
    <br /> Pigen: vis mig det er rigtigt hvad de siger om sorte mænd.
    <br /> – Så han stak hende ned og stjal hendes taske.
<br/><br/>
    <br /> Hvad er forskellen på en nedkørt neger og en nedkørt Hjort?
    <br /> – Der er bremsespor foran hjorten.
<br/><br/>
    <br /> En neger kommer ind til lægen med en stor frø siddende på hovedet.
    <br /> -“Hvad er der sket?”, spørger lægen.
    <br /> -“Det startede som en hæmoride”, svarer frøen.
<br/><br/>
    <br /> Hvad får negeren i 18-års fødselsdagsgave?
    <br /> – Din bil.
<br/><br/>
    <br /> Hvad får man, hvis man krydser en neger med en blæksprutte?
    <br /> – En skidegod bomuldsplukker.
<br/><br/>
    <br /> “Jeg var ude for at springe elastikspring forleden, og når jeg stod og skulle til at springe, havde de stillet en stor neger bagved mig.”
    <br /> -“Nå, sprang du?”
    <br /> -“Ja, jeg blev syet med syv sting!”
<br/><br/>
    <br /> Hvad kalder man en neger på universitetet?
    <br /> – Rengøringsassistent.
<br/><br/>
    <br /> Hvad sker der, når man vil parre en neger og en chimpanse?
    <br /> – Intet. Chimpansen nægter.
<br/><br/>
    <br /> Hvad er ligheden mellem et æble og en neger?
    <br /> – De ser begge godt ud, når de hænger i et træ
<br/><br/>
    <br /> En dag da 10 negere slap løs fra gården, fandt de en gammel lampe. Der var en ånd i lampen, og ånden sagde til dem at de hver kunne ønske sig én ting.
    <br /> Den 1. neger sagde at han ville være hvid.
    <br /> Den 10. neger begyndte at smile.
    <br /> Den 2. neger ønskede det samme som den første.
    <br /> Den 10. neger smilte endnu mere.
    <br /> Den 3., 4., 5., 6., 7., 8., og 9. neger ønskede det samme som den første og de blev alle sammen hvide. Da turen kom til den sidste neger spurgte ånden:
    <br /> “Hvad ønsker du?”
    <br /> Den 10. neger der stadig smilte svarede:
    <br /> “Lav dem alle sorte igen!”
<br/><br/>
    <br /> En neger stod anklaget for at have mishandlet en anden neger.
    <br /> – Hvorfor slog De Deres kammerat? spurgte dommeren. – Han kaldte mig en flodhest.
    <br /> – Hvornår skete det ?
    <br /> – For omkring 2 år siden.
    <br /> – Hvorfor slog De ham så først i går?
    <br /> – Fordi jeg først så en flodhest i Zoo i går.
<br/><br/>
    <br /> Hvor kan man være mest sikker på at finde en negers fingeraftryk?
    <br /> – I hans næse.
<br/><br/>
    <br /> En 3 meter høj neger kommer ind til en dværg i en elevator og siger.
    <br /> “Hey, jeg er 3 meter høj, 1½ meter bred og har en ½ meter lang pik som hedder Big’n’Brown”.
    <br /> Så besvimer dværgen. Negeren vækker ham hurtigt op og spørger “Hvorfor besvimede du da jeg sagde at min pik hed Big’n’Brown?” Dværgen svare “Nååå. Jeg troede du sagde turn arround”
<br/><br/>
    <br /> Hvordan forhindre man en neger i at drukne?
    <br /> Man fjerner foden fra hans hoved.
<br/><br/>
    <br /> 2 neger går hen til en pølse mand og så siger de: “2 ristede, tak”
    <br /> Pølse manden siger: “Det ved jeg sku da godt, men hvad skal i havde?”
<br/><br/>
    <br /> Hvordan får man en neger til at holde op med at ryge?
    <br /> – trækker ham ud af bålet.
<br/><br/>
    <br /> En lille pige hopper på et kloak dæksel imens han sagde 47, 47, 47, 47, 47.
    <br /> Så kom der en neger og spurgte om han måtte prøve, pigen svarede selvfølgelig: “ja”
    <br /> Han begyndte at hoppe og da han var i luften tog pigen dækslet væk, negeren faldt ned. Hvorefter pigen igen begyndte at hoppe på dækslet “48, 48, 48, 48, 48”
<br/><br/>
    <br /> Hvad er forskellen på en neger og en cykel?
    <br /> – Når man sætter kæde på en neger, begynder han at synge “Old man river”
<br/><br/>
    <br /> Hvor mange negere skal der bruges for at gå tur med en hund.
    <br /> – Ingen, det er negeren som er i snoren.
<br/><br/>
    <br /> Hvad siger en motorsav i Mississipi?
    <br /> RUUUUUN! – nigger nigger nigger.
<br/><br/>
    <br /> Hvad gør man hvis en neger kaster en håndgranat efter én?
    <br /> – Man hiver splitten ud og kaster den tilbage.
    <br /><br />
    <br /> En hvid mand går ind i en kiosk.
    <br /> – Han spørger ekspedienten “Har i flere sorte på dåse”, hvorefter hun svarer. “Nej! men vi har dem på kæde”.
<br/><br/>
    <br /> Hvad sagde gud da han lavede sin anden neger?
    <br /> – Shit! jeg brændte en til!
<br/><br/>
    <br /> Hvad har Pippi Langstrømpe og Sydafrika tilfælles?
    <br /> – De har begge en abe der hedder Nelson.
</p>

