
@{
    ViewBag.Title = "Courses";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<style>
    .tr_item:hover {
        background-color: #008080;
    }
</style>

<table style="width: 100%" class="table table-light text-center">

    <tr aria-disabled="True">
        <th style="width: 33%">Course Name</th>
        <th style="width: 33%">Course Responsible</th>
        <th style="width: 33%">Course Helper</th>
    </tr>
    <tr class="tr_item">
        <td>
            <a>Intermediate Child Rape</a>
        </td>
        <td>Oskar Urin</td>
        <td>Valdefar</td>
    </tr>

    <tr class="tr_item">
        <td>
            Beginners Child Rape
        </td>
        <td>Oskar Urin</td>
        <td>Valdefar</td>
    </tr>
    
</table>