/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-nav > li {
    text-align: center !important;
}

.btnStyle {
    padding: 10px 15px;
    min-width: 75px;
    background-color: #45be55;
    color: white;
    text-transform: uppercase;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btnStyle:hover {
    background-color: #339240 !important;
    color: white !important;
    text-decoration: none !important;
}
.navbar-brand {
    display: block;
    position: absolute;
    left: 2%;
    top: 20%;
}
.navbar-brand img {
    width: 13vw;
}

.nav-link {
    padding: 10px 30px !important;
    text-align: center;
}
.active, .btn:hover {
    border-bottom: 2px solid #02af02;
}

.navbar-nav {
    justify-content: flex-end ! important;
}

.nav-item:hover {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white !important;
}

.navbar {
    background-color: #13372c !important;
    padding: 1.5rem 0rem 0rem 1rem !important;
}

.text-dark {
    color: #ffffff !important;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.container-narbar {
    padding-right: 0;
    margin-right: 0; 

}