/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Detailpage styling:*/

main {
    padding-bottom: 20px;
}
main {
    width: 100% !important;
}
hr {
    margin-top: 0px !important;
   
}
.content-area {
    background-color: white !important;
    padding: 20px !important;
    border-bottom: 1px solid #f2f2f2;
}

.h5-heading {
    padding-bottom: 10px;
}

.textblock {
    height: 200px;
    width: 32rem;
}

.content-area img {
    float: left;
    width: 55px;
}

.folder-style {
    color: #13372c;
    text-decoration: underline;
}

.folder-style:hover {
    color: #45be55 !important;
}

.folder p img {
    width: 15px;
}

.content-area p {
    padding-top: 10px;
    padding-left: 75px;
}

.course-content-areas {
    background-color: white;
    padding: 20px;
}
.course-content-heading {
    font-weight: bold;
    margin-bottom: 0px !important;
    padding: 5px 0px;
}
.course-content-link {
    color: black;
    display: flex;
    padding: 5px 0px;
}

.course-content-link:hover {
    text-decoration: none !important;
    color: #45be55 !important
}

.DetailPage {
    width: 100% !important;
    margin: auto ;
    display: flex;
    min-height: 100%;
    background-color: #f3f3f3;
}

.main-content {
    flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
}

.column {
    padding: 20px;
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}
#left {
    flex-shrink: 0; /*makes sure that content is not cut off in a smaller browser window*/
    background-color: #e7e7e7;
    width: 13rem;
    overflow: auto;
}

.bottom {
    flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto; /*adds scroll to this container*/
}

#right {
    background-color: #f3f3f3;
    width: 100%;
}


/*Detailpage styling ended*/
.selected a {
    color: #75bf40;
}

.navbar-nav > li {
    text-align: center !important;
}

.top-headline {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top-headline p {
    margin-top: 9px;
}


.btnStyle {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    min-width: 75px;
    background-color: #45be55;
    color: white;
    text-transform: uppercase;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btnStyle:hover {
    background-color: #339240 !important;
    color: white !important;
    text-decoration: none !important;
}
.navbar-brand {
    display: block;
    position: absolute;
    left: 2%;
    top: 20%;
}
.navbar-brand img {
    width: 13vw;
}

.nav-link {
    padding: 10px 30px !important;
    text-align: center;
}
.nav-item {
    border-bottom: 2px solid transparent;
}

.active {
    border-bottom: 2px solid #02af02;
    color: white !important;
}

.active a {
    color: white !important;
}


.navbar-nav {
    justify-content: flex-end ! important;
}

.nav-item:hover {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white !important;
}

.navbar {
    background-color: #13372c !important;
    padding: 1.5rem 0rem 0rem 1rem !important;
}

.text-dark {
    color: #cacaca !important;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #f3f3f3;
    margin: 0px; /*removes default style*/
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.container-narbar {
    padding-right: 0;
    margin-right: 0; 

}